.dir-locals.el
*.pyc
.coverage
.coveragerc
*htmlcov*
*wksp*
.#*
.flake8
pyrightconfig.json
sandbox.js
sandbox.py
utils/sandbox.py
utils/mdbs/*
node/*
htmlcov/*
db/*
.vscode/
static/*
media/*
static_root/*
dist/*
docs/sphinx/_build/*
fn_portal.egg-info/*
