<h4>Projects:</h4>



{% regroup projects by year as projects_by_year %}
<ul id="projaccordion">
    {% for year in projects_by_year %}
    <li>
        <a href="#" onclick="toggle_accordion('project-year-{{ year.grouper }}');">{{ year.grouper }}</a>
        <div class="project_list" id="project-year-{{ year.grouper }}"  style="display: none">

            {% regroup year.list|dictsort:"source" by source as projects_by_source %}
            {% for source in projects_by_source %}
            <p><strong>{{ source.grouper|title}}</strong></p>
            <ul>
                {% for item in source.list %}
                <li><a href="{{ item.get_absolute_url }}">{{  item.prj_cd }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}

        </div>
    </li>
    {% endfor %}
</ul>


<script type="text/javascript">
 <!--
 function toggle_accordion(id) {
     // set all of the projct_list elements to none:
     //var lists = getElementsByClassName('project_list');
     //lists.style.display = 'none';
     var project_lists = $('[id^="project-year-"]');

     for (var i=0; i <project_lists.length; i++) {
         project_lists[i].style.display = "none";
     }

     var e = document.getElementById(id);
     if(e.style.display == 'block')
         e.style.display = 'none';
     else
         e.style.display = 'block';
 }
 //-->
</script>
