{% extends "fn_portal/fn_portal_base.html" %}

{% load humanize %}
{% load fn_portal_tags %}


{% block sidebar %}

{% sidebar_projects %}

{% endblock %}

    {% block content  %}

<h3>Gears:</h3>
<ul>

    <table class="table">
        <thead>
            <tr>
                <td>Gear Code </td>
                <td>Description </td>
                <td>Net Sets </td>
                <td>Active</td>
                <td>Confirmed</td>
            </tr>
        </thead>

        {% for gr in gear_list %}
        <tr>
            <td><a href="{% url 'gear_detail' gear_code=gr.gr_code %}">{{ gr.gr_code }}</a></td>
            <td>{{ gr.gr_label }}</td>
            <td>{{ gr.get_samcount }}</td>

            {% if gr.depreciated %}
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:blue"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span></td>
            {% endif %}

            {% if gr.confirmed %}
            <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:blue"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:red"></span></td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>




</ul>

    {% endblock %}

    {% block scripts %}

    <script type="text/javascript">
        $( document ).ready(function() {
        // prepare the sidebar by expanding just the current year
        var my_year={{ project.year }}{{sample.project.year}};
        var div_name = "#project-year-" + my_year;
        $(div_name).show();

        });
    </script>


    {% endblock %}
