{% extends "fn_portal/fn_portal_base.html" %}


{% load fn_portal_tags %}
{% load staticfiles %}

{% block extrahead  %}

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reductio/0.6.3/reductio.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


{% endblock %}

{% block sidebar %}

{% sidebar_projects %}

{% endblock %}

{% block content  %}

    <h2>Biological Attributes of {{ species.common_name}} sampled in {{ project.prj_cd }}</h2>
    <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn btn-primary btn-sm pull-right" role="button">Reset All</a>

<style type="text/css" media="screen">
 .dc-chart g.row text {fill: black;}
}

</style>


<div id="age-length-row" class="row">
    <div id="age-column" class="col-md-6" >
        <div id="age-chart">
            <strong>Age Distribution:</strong>
            <a class="reset" href="javascript:ageChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        </div>
    </div>

    <div id="length-column" class="col-md-6" >
        <div id="length-chart">
            <strong>Length Distribution:</strong>
            <a class="reset" href="javascript:lengthChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>

</div>



<div id="growth-row" class="row">
    <div id="growth-column" class="col-md-6" >
        <div id="size-at-age-all-chart">
            <strong>Size At Age:</strong>
            <a class="reset" href="javascript:sizeAtAgeAllChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        </div>
    </div>

    <div id="weight-length-column" class="col-md-6" >
        <div id="weight-length-chart">
            <strong>Length-Weight:</strong>
            <a class="reset" href="javascript:weightLengthChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>
</div>




<h3>Filters:</h3>
<div id="eff-sidep-row" class="row">
    <div id="effort-column" class="col-md-6" >
        <div id="eff-chart">
                <strong>Mesh Size:</strong>
                <a class="reset" href="javascript:effChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                <div id="mesh-group-btn" class="btn-group btn-group-xs" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="all" autocomplete="off" checked> All Meshes
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="index_only" autocomplete="off"> Index Meshes
                    </label>
                </div>

        </div>
    </div>

    <div id="sidep-column" class="col-md-6" >
        <div id="sidep-chart">
            <strong>Site Depth(m):</strong>
            <a class="reset" href="javascript:sidepChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>

</div>

<div id="lift_date_row" class="row" >

    <div id="lift-date-col" class="col-md-12" >
        <div id="liftdate-chart">
            <strong>Lift Date:</strong>
            <a class="reset" href="javascript:liftDateChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>

    </div>

</div>


<div id="sex-mat-row" class="row">
    <div id="sex-column" class="col-md-6" >
        <div id="sex-chart">
            <strong>Maturity Code:</strong>
            <a class="reset" href="javascript:sexChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        </div>
    </div>

    <div id="mat-column" class="col-md-6" >
        <div id="maturity-chart">
            <strong>Sex:</strong>
            <a class="reset" href="javascript:maturityChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </div>
    </div>

</div>






<script type="text/javascript">

    // instantiate charts and count objects outside of d3 call:


 var ageChart = dc.barChart('#age-chart');
 var lengthChart = dc.barChart('#length-chart');
 var sizeAtAgeAllChart = dc.scatterPlot('#size-at-age-all-chart');
 var weightLengthChart = dc.scatterPlot('#weight-length-chart');
 // TODO:
// var sizeAtAgeSexChart = dc.barChart('#sizeAtAge-sex-chart');
// var matAtAgeChart = dc.barChart('#sizeAtAge-sex-chart');

 //charts to filter our data:
 var effChart = dc.rowChart('#eff-chart');
 var sidepChart = dc.barChart('#sidep-chart');
// var monthChart = dc.barChart('#month-chart');
 var liftDateChart = dc.barChart('#liftdate-chart');
 var sexChart = dc.rowChart('#sex-chart');
 var maturityChart = dc.rowChart('#maturity-chart');

 var INDEX_EFFS=['038', '051', '064', '076', '089', '102', '114', '127'];
 var BINWIDTH = 25;

 function is_index_mesh(x){
     if (~INDEX_EFFS.indexOf(x.eff)){
         return true;
     } else {
         return false;
     }
 }


 function if_missing(x){
     if(x){
         return x;
     } else {
         return -99;
     }
 }


 function recode_sex(x){
     sex_codes ={'1': 'Male', '2': 'Female', '9': 'Unknown'}
     if(x){
         return sex_codes[x];
     } else {
         return 'Not Sampled';
     }
 }

 function recode_maturity(x){
     maturity_codes ={'1': 'Immature', '2': 'Mature', '9': 'Unknown'}
     if(x){
         return maturity_codes[x];
     } else {
         return 'Not Sampled';
     }
 }


 function get_stats(dim, x){
     // a little function to calculate and return summary statistics of a dimention
     // x is the name of the response variable to calculate the statistics on
     // missing values are assumed to ave been recoded as -99 (or some other negative number)
     var mu = d3.mean(dim.top(Infinity), function(d) { return d[x]>=0 ? d[x] : null; });
     var sigma = d3.deviation(dim.top(Infinity), function(d) { return d[x]>=0 ? d[x] : null; });
     //var n = dim.top(Infinity).length;
     var n = dim.top(Infinity).filter(function(d) { return d[x]>=0 ? d[x] : null; }).length;
     var sem = sigma / Math.sqrt(n);
     var dimMin = d3.min(dim.top(Infinity), function(d) { return d[x]>=0 ? d[x] : null; });
     var dimMax = d3.max(dim.top(Infinity), function(d) { return d[x]>=0 ? d[x] : null; });
     var ret = {"mu": mu,
                "sigma": sigma,
                "sem":sem,
                "n": n,
                "min": dimMin,
                "max": dimMax};
     return ret;
 }



 function get_dim_max (dim, x, alt){
     // given a dimention and field name, find the largest value
     // If the maximum cannot be found, return the alternate
     // value
     var mymax = dim.filterFunction(function (d) { return d > 0 ;}).top(1)[0][x];
     dim.filterAll();
     return mymax ? mymax : alt;
 }

 function get_dim_min (dim, x, alt){
     // given a dimention and field name, find the smallest value (excluding negative
     // values used as place holders) If the minimum cannot be found, return the alternate
     // value
     var mymin = dim.filterFunction(function (d) { return d > 0 ;}).bottom(1)[0][x];
     dim.filterAll();
     return mymin ? mymin : alt;
 }

 function stats_txt (stats){
     // given our summary statistics, return a 3-element array containing
     // format strings corresponding to our summary label (mean, N and range)
     var mu = stats.mu ? stats.mu.toFixed(2) : '---';
     var sem = stats.sem ? stats.sem.toFixed(2) : '---';
     var n = stats.n ? stats.n : '---';
     var mymin = stats.min ? stats.min : '---';
     var mymax = stats.max ? stats.max : '---';
     var txt = ["Mean = " + mu + '+/-' + sem,
                "N = " + n,
                "Range = " + mymin + "-" + mymax];
     return txt;
 }


 d3.json("{% url 'project_spc_biodata_json' project.slug species.species_code %}", function (error, data) {

     var mydateformat = d3.time.format('%B %d, %Y');
     var isodateformat = d3.time.format.iso;

     data.forEach(function(d){
         d.yr = +d.yr;
         d.lift_date = isodateformat.parse(d.lift_date);
         d.sidep = +d.sidep;
         d.flen = +if_missing(d.flen);
         d.tlen = +if_missing(d.tlen);
         d.rwt = +if_missing(d.rwt);
         d.agea = +if_missing(d.agea);
         d.sex = recode_sex(d.sex);
         d.mat = recode_maturity(d.mat);
         d.index_mesh = is_index_mesh(d);
         //d.mesh_type = mono_or_multi(d);
     });

     // set up our filters and dimensions:
     var biodata = crossfilter(data);

     var all = biodata.groupAll();
     var allbiodata = all.reduceSum(function(d){return d.catcnt;});

     var ageDim = biodata.dimension(function(d) { return d.agea; });
     var lengthDim = biodata.dimension(function(d) { return d.flen; });
     var weightDim = biodata.dimension(function(d) { return d.rwt; });

     var effDim = biodata.dimension(function(d) { return d.eff; });
     var indexMeshDim = biodata.dimension(function(d) { return d.index_mesh; });

     var sidepDim = biodata.dimension(function(d) { return d.sidep; });
     var liftDateDim = biodata.dimension(function(d) { return d.lift_date; });

     var sexDim = biodata.dimension(function(d) { return d.sex; });
     var maturityDim = biodata.dimension(function(d) { return d.mat; });

     // our biological attributes
     var ageGroup = ageDim.group();
     //var lengthGroup = lengthDim.group();
     var weightGroup = weightDim.group();

     // Length Bins for flen-histogram
     var lenbinDim = biodata.dimension( function(d){
         return BINWIDTH * Math.floor(d.flen/BINWIDTH);
     })
     var lenbinGroup = lenbinDim.group();

     // our filtering groups:
     var sidepGroup = sidepDim.group();
     var liftDateGroup = liftDateDim.group();
     var effGroup = effDim.group();
     var sexGroup = sexDim.group();
     var maturityGroup = maturityDim.group();


     // cross dimpensions and groups for size-at-age and weight-length
     var sizeagedim = biodata.dimension(function(d){ return [+d.agea, +d.flen]; });
     var sizeagegroup = sizeagedim.group();

     var wtlendim = biodata.dimension(function(d){ return [+d.flen, +d.rwt]; });
     var wtlengroup = wtlendim.group();



     // a helper function to return only those groups with data (we used -99 as null place holder above)
     function remove_missing_values(source_group) {
         return {
             all:function () {
                 return source_group.all().filter(function(d) {
                     return d.key >= 0;
                 });
             }
         };
     }


     // a helper function to return only those groups with data (we used -99 as null place holder above)
     // this one is used for groups of 2-dimensional crosses
     function remove_missing_values2(source_group) {
         return {
             all:function () {
                 return source_group.all().filter(function(d) {
                     return d.key[0] >= 0 && d.key[1] >=0;
                 });
             }
         };
     }

     var ageGroup2 = remove_missing_values(ageGroup);
     //var lengthGroup2 = remove_missing_values(lengthGroup);
     var weightGroup2 = remove_missing_values(weightGroup);
     //var lengthBins2 = remove_missing_values(lengthBins);

     var sizeagegroup2 = remove_missing_values2(sizeagegroup);
     var wtlenGroup2 = remove_missing_values2(wtlengroup);

     // mins and maxes:

     var minDate = liftDateDim.bottom(1)[0].lift_date;
     var maxDate = liftDateDim.top(1)[0].lift_date;


     var minweight = get_dim_min(weightDim, 'rwt', 0);
     var maxweight = get_dim_max(weightDim, 'rwt', 1000);

     var minlength = get_dim_min(lengthDim, 'flen', 0);
     var maxlength = get_dim_max(lengthDim, 'flen', 450);

     var minage = get_dim_min(ageDim, 'agea', 0);
     var maxage = get_dim_max(ageDim, 'agea', 10);




     // =================
         //     CHARTS

     var WIDTH = 500;
     var HEIGHT = 500;


     ageChart.width(WIDTH)
             .height(HEIGHT)
             .dimension(ageDim)
             .group(ageGroup2)
             .x(d3.scale.linear().range([0, maxage+1]).domain([0,maxage+1]))
             .yAxisLabel('Number')
             .elasticY(true)
             .centerBar(true)
             .render();

     ageChart.xAxis().scale(ageChart.x());
     ageChart.on('renderlet',
                 function(chart) {
                     var X = 0.85 * chart.xAxisLength();
                     var Y = 0.1 * chart.yAxisHeight();
                     stats = get_stats(ageDim, 'agea');
                     stats_text = stats_txt(stats);
                     svg= chart.svg();

                     chart.selectAll('#stats').remove();

                     for (i = 0; i < stats_text.length; i++) {
                         svg.append('text').attr('id','stats')
                            .text(stats_text[i])
                            .attr('x', X)
                            .attr('y', Y)
                            .attr('dy', i + "em")
                     }

                 } );


     lengthChart.width(WIDTH)
                .height(HEIGHT)
                .dimension(lenbinDim)
                .group(lenbinGroup)
                .x(d3.scale.linear().domain([0,100]))
                .yAxisLabel('Number')
                .elasticX(true)
                .elasticY(true)
                .render();

     lengthChart.xUnits(dc.units.fp.precision(BINWIDTH));

     lengthChart.on('renderlet',
                 function(chart) {
                     var X = 0.85 * chart.xAxisLength();
                     var Y = 0.1 * chart.yAxisHeight();
                     stats = get_stats(lengthDim, 'flen');
                     stats_text = stats_txt(stats);
                     svg= chart.svg();
                     // remove any existing stats
                     chart.selectAll('#stats').remove();
                     // add the new ones
                     for (i = 0; i < stats_text.length; i++) {
                         svg.append('text').attr('id','stats')
                            .text(stats_text[i])
                            .attr('x', X)
                            .attr('y', Y)
                            .attr('dy', i + "em")
                     }
                 } );


     sizeAtAgeAllChart.width(WIDTH)
                      .height(HEIGHT)
                      .dimension(sizeagedim)
                      .group(sizeagegroup)
                      .x(d3.scale.linear().range([0, maxage]).domain([0,maxage+1]))
                      .y(d3.scale.linear().range([0, maxlength]).domain([0,maxlength*1.05]))
                      .yAxisLabel('Fork Length (mm)')
                      .render();
     sizeAtAgeAllChart.yAxis().scale(sizeAtAgeAllChart.y());


     weightLengthChart.width(WIDTH)
                      .height(HEIGHT)
                      .dimension(wtlendim)
                      .group(wtlengroup)
                      .x(d3.scale.linear().range([minlength*0.95, maxlength]).domain([minlength*0.95, maxlength * 1.05]))
                      .y(d3.scale.linear().range([0, maxweight]).domain([0,maxweight*1.05]))
                      .xAxisLabel('Fork Length (mm)')
                      .yAxisLabel('Round Weight (g)')
                      .render();

     weightLengthChart.yAxis().scale(weightLengthChart.y());
     weightLengthChart.xAxis().scale(weightLengthChart.x());


     effChart.width(WIDTH)
             .height(HEIGHT)
             .dimension(effDim)
             .group(effGroup)
             .x(d3.scale.linear().domain([0,100]))
             .elasticX(true)
             .render();
     effChart.xAxis().ticks(4)


     sidepChart.width(WIDTH)
               .height(HEIGHT)
               .dimension(sidepDim)
               .group(sidepGroup)
               .x(d3.scale.linear().domain([0,100]))
               .yAxisLabel('Samples Collected')
               .elasticX(true)
               .elasticY(true)
               .render();


     liftDateChart.width(WIDTH * 2)
                  .height(HEIGHT)
                  .dimension(liftDateDim)
                  .group(liftDateGroup)
                  .x(d3.time.scale().domain([minDate,maxDate]))
                  .yAxisLabel('Samples Collected')
                  .elasticY(true)
                  .render();


     sexChart.width(WIDTH)
             .height(HEIGHT)
             .dimension(sexDim)
             .group(sexGroup)
             .x(d3.scale.linear().domain([0,100]))
             .elasticX(true)
             .render();

     maturityChart.width(WIDTH)
                  .height(HEIGHT)
                  .dimension(maturityDim)
                  .group(maturityGroup)
                  .x(d3.scale.linear().domain([0,100]))
                  .elasticX(true)
                  .render();


     //     });



     // refresh our statistics each time one of the charts change
     // dcCharts = [ ageChart,
     //              lengthChart,
     //              sizeAtAgeAllChart,
     //              weightLengthChart,
     //              effChart,
     //              sidepChart,
     //              liftDateChart,
     //              sexChart,
     //              maturityChart]
     //
     //     _.each(dcCharts, function (dcChart) {
     //         dcChart.on("filtered", function (chart, filter) {
     //             print_stats();
     // });


     dc.renderAll();


     //update the index mesh filter using the button group change (click) event.
     $("#mesh-group-btn :input").change(function() {
         if (this.id==='index_only'){
             indexMeshDim.filter(function(d) {return d===true;});
             d3.select("#index-mesh-filter").text('Index Meshes Only');
         } else {
             indexMeshDim.filterAll();
             d3.select("#index-mesh-filter").text('All Meshes');
         }
         dc.renderAll();
     });


 }); // d3.json





</script>

    {% endblock %}
