<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">

        <title>  {% block title  %} UGMLU Project Portal  {% endblock %}  </title>

        {% block extrahead  %} {% endblock %}

    </head>

    <body>

        {% block navbar %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'fn_portal:project_list' %}">FishNet Project Portal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'fn_portal:project_list' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'fn_portal:fn012_protocol_list' %}">Protocols</a>
                            </li>

                                                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'fn_portal:gear_list' %}">Gears</a>
                            </li>

                            {% if user.is_authenticated  %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "fn_portal:upload_project_data" %}">Upload Data</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "fn_portal:project_wizard" %}">New Project</a>
                            </li>
                            {% endif %}

                            {% block navbar_other_apps %}
                            {% endblock %}

                        </ul>

                        <form class="d-flex" role="search" action={% url 'fn_portal:project_list' %}>
                            <input class="form-control me-2" required name="search" type="search" placeholder="Project Code Or Name" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>

        {% endblock %}

        {% block content  %}
        {% endblock %}

        {% block extracontent  %}
        {% endblock %}


        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous"></script>


        {% block extra_scripts  %}


        {% endblock %}

    </body>
</html>
