{% extends "fn_portal/fn_portal_base.html" %}

{% load humanize %}
{% load fn_portal_tags %}


{% block sidebar %}

{% sidebar_projects %}

{% endblock %}

    {% block content  %}


<h3>Gears{% if user %} assigned to {{ user.first_name }} {{ user.last_name }}{% endif %}:</h3>

<table class="table">
    <thead>
        <tr>
            <td>Gear Code </td>
            <td>Description </td>
            <td>Net Sets </td>
            <td>Active</td>
            <td>Confirmed</td>
            <td>Assigned To</td>
        </tr>
    </thead>

    {% for gr in gear_list %}
    <tr>
        <td><a href="{% url 'gear_detail' gear_code=gr.gr_code %}">{{ gr.gr_code }}</a></td>
        <td>{{ gr.gr_label }}</td>
        <td>{{ gr.get_samcount }}</td>

        {% if gr.depreciated %}
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:blue"></span></td>
        {% else %}
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span></td>
        {% endif %}

        {% if gr.confirmed %}
        <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:blue"></span></td>
        {% else %}
        <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:red"></span></td>
        {% endif %}

        {% if gr.assigned_to.username %}
        <td>
            <a href="{% url 'gears_assigned_to' username=gr.assigned_to.username %}">
                {{ gr.assigned_to.username }}
            </a>
        </td>
        {% else %}
        <td> --- </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

{% if user %}
<a class="btn btn-primary pull-right" href="{% url 'gear_list' %}" role="button">Gear List</a>
{% endif %}


{% endblock %}
