{% extends "fn_portal/fn_portal_base.html" %}

{% load humanize %}
{% load fn_portal_tags %}


{% block sidebar %}

    {% sidebar_projects %}

{% endblock %}


<title>  {% block title  %} Gear Detail - {gear.gr_code}  {% endblock %}  </title>

{% block content  %}




    <div class="container">

        <h2 class="my-2">{{ gear_code }}</h2>

        {% if gear %}

            <div class="card">
                <div class="card-header">
                    <strong> {{ gear.gr_label }} - {{ gear.gr_code }}</strong>
                </div>
                <div class="card-body">

                    {% if gear.depreciated %}
                        <div class="alert alert-danger" role="alert">
                            "{{ gear_code }}" has been depreciated and should not be used for new projects.
                        </div>
                    {% endif %}

                    {{ gear.gr_des_html|safe}}


                    {% if gear.grtp == "GL" %}

                    <div class="card">
                        <div class="card-header">
                            Panels (subgears):
                        </div>
                        <div class="card-body">

                            {% if  gear.get_subgears %}

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> Panels </th>
                                            <th> eff </th>
                                            <th> mesh </th>
                                            <th> grlen </th>
                                            <th> grht  </th>
                                            <th> grwid </th>
                                            <th> grcol </th>
                                            <th> grmat </th>
                                            <th> gryarn </th>
                                            <th> grknot </th>
                                            <th> eff_des </th>
                                        </tr>
                                    </thead>

                                    {% for eff in gear.get_subgears %}
                                        <tr>
                                            <td> {{eff.panel_count |default_if_none:"" }} </td>
                                            <td> {{eff.eff |default_if_none:"" }} </td>
                                            <td> {{eff.mesh |default_if_none:"" }} </td>
                                            <td> {{eff.grlen |default_if_none:"" }} </td>
                                            <td> {{eff.grht  |default_if_none:"" }} </td>
                                            <td> {{eff.grwid |default_if_none:"" }} </td>
                                            <td> {{eff.get_grcol_display |default_if_none:"" }} </td>
                                            <td> {{eff.get_grmat_display |default_if_none:"" }} </td>
                                            <td> {{eff.get_gryarn_display |default_if_none:"" }} </td>
                                            <td> {{eff.get_grknot_display |default_if_none:"" }} </td>
                                            <td> {{eff.eff_des|default_if_none:""}} </td>
                                        </tr>
                                    {% endfor %}
                                </table>

                            {% else %}
                                <p>No detailed effort information on subgears is currently available for {{ gear.gr_code }}.</p>
                            {% endif %}

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>



        {% else %}
            <div class="alert alert-danger" role="alert">
                "{{ gear_code }}" does not appear to be documented. Do you know anything about it?
            </div>

        {% endif%}


        <div class="row my-3 justify-content-end">

            <div class="col-3">
                <a class="btn btn-primary" href="{% url 'fn_portal:edit_gear' gear_code %}" role="button">Edit Gear Description</a>
            </div>

        </div>


        <div class="row">


            <ul class="nav nav-tabs" id="gear-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="project-tab" data-bs-toggle="tab" data-bs-target="#project" type="button" role="tab" aria-controls="project" aria-selected="true">Projects</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fn013-fn014-tab" data-bs-toggle="tab" data-bs-target="#fn013-fn014" type="button" role="tab" aria-controls="fn013-fn014" aria-selected="false">FN013/FN014</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="process-type-tab" data-bs-toggle="tab" data-bs-target="#process-type" type="button" role="tab" aria-controls="process-type" aria-selected="false">Process Types</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="project-tab">

                    <div class="row my-4">
                        <h4>"{{ gear_code }}" has been used in these projects (N={{ projects|length }}):</h4>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Project Code</th>
                                <th>Project Name</th>
                                <th>Master Database</th>
                                <th>Samples</th>
                            </tr>
                        </thead>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.year }}</td>
                                <td><a href="{% url 'fn_portal:project_detail' project.slug %}">{{ project.prj_cd }}</a></td>
                                <td>{{ project.prj_nm }}</td>
                                <td>{{ project.source }}</td>
                                <td>{{ project.N }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="fn013-fn014" role="tabpanel" aria-labelledby="fn013-fn014-tab">

                    <div class="row my-4">
                        <h4>Gear information from the FN013/FN014 tables:</h4>
                    </div>

                    {% if fn013_gear %}
                        <ul>
                            {% for gr in fn013_gear %}

                                <div class="panel panel-default">
                                    <div class="panel-heading">     <strong> {{ gr.gr }} - {{ gr.gr_des }} (
                                        <a href="{% url 'fn_portal:project_detail' gr.project.slug %}">{{ gr.project.prj_cd }})</a></strong></div>
                                    <div class="panel-body">
                                        {% if gr.gear_effs.values %}
                                            <table class="table">

                                                <thead>
                                                    <tr>
                                                        <td> eff </td>
                                                        <td> mesh </td>
                                                        <td> grlen </td>
                                                        <td> grht  </td>
                                                        <td> grwid </td>
                                                        <td> grcol </td>
                                                        <td> grmat </td>
                                                        <td> gryarn </td>
                                                        <td> grknot </td>
                                                        <td> eff_des </td>
                                                    </tr>
                                                </thead>

                                                {% for eff in gr.gear_effs.values %}
                                                    <tr>
                                                        <td> {{eff.eff |default_if_none:"" }} </td>
                                                        <td> {{eff.mesh |default_if_none:"" }} </td>
                                                        <td> {{eff.grlen |default_if_none:"" }} </td>
                                                        <td> {{eff.grht  |default_if_none:"" }} </td>
                                                        <td> {{eff.grwid |default_if_none:"" }} </td>
                                                        <td> {{eff.get_grcol_display |default_if_none:"" }} </td>
                                                        <td> {{eff.get_grmat_display |default_if_none:"" }} </td>
                                                        <td> {{eff.get_gryarn_display |default_if_none:"" }} </td>
                                                        <td> {{eff.get_grknot_display |default_if_none:"" }} </td>
                                                        <td> {{eff.eff_des |default_if_none:"" }} </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% else %}
                                            <p>No detailed effort information currently available.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </ul>
                    {% else %}
                        <p> '{{ gear_code }}' is missing from the FN013 table! </p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="process-type" role="tabpanel" aria-labelledby="process-type-tab">
                    <div class="row my-4">
                        <h4>This tab will present the known process types associated with this gear.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
